header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;  
}

nav li {
     display: inline;
     margin: 0 0 0 15px;
 }

 nav a {
     text-transform: uppercase;
     color: black;
     font-weight: bold;
     font-size: 22px;
     text-decoration: none;
 }

nav a:hover {
    color: teal;
    text-decoration: underline;
}

.titulo-centralizado {
    text-transform: uppercase;
    background-color: #BBBBBB;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    clear: left;
}

.titulo-principal {
    padding-left: 20px;
}

p {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

em strong {
    color: teal;
    font-weight: bold;
}

#missao {
    font-size: 20px;
    text-align: center;
}

.banner {
    width: 100%;
}

.tipobenef {
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}

.itens {
    display: inline;
    margin: 0 0 0 120px;
    font-weight: bold;
    color: teal;
}

footer {
    text-align: center;
    color: white;
    background: url("img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

.utensilios {
    width: 100px;
    float: left;
    margin: 20px;
}