h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

body {

}

p {
    text-align: center;
}

em strong {
    color: red;
}

#missao {
    font-size: 20px;
}

#banner {
    width: 100%;
}

.itens {
    font-style: italic;
}

.principal {
    background-color: #cccccc;
}

.beneficios {
    background-color: white;
}

.imagembeneficios {
    width: 50%;
}